<!DOCTYPE html>
<html>
    <head>
        <title>Mybnb</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="background-image">
      <%= render 'shared/navbar' %>
      <!-- <div class="background-image"></div> -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="container">
        <%= yield %>
      </div>
    </body>
</html>
